$font-size: 14px;
$font-family: system-ui, -apple-system, 'BlinkMacSystemFont', 'Roboto', sans-serif;
$line-height: 1.5;

$colors: (
  ctransparent: rgba(0, 0, 0, 0),
  cblack: #000,
  cwhite: #fff,
  cprimary: #99ceff,
);
